#ignore node_modules
**/node_modules
**/build/
**/map/
**/ssr-build/
**/ver_bak
**/coverage
**/temp
**/tmp
**/tmp.*
**/*.grib
**/.vscode
**/*.save
**/*.bak
**/*.swp
**/*~
**/.DS_Store
**/.credentials.*
**/.eslintrc.*
**/*.pem
**/*.key
**/*.cert
**/.env
**/.cache
**/.log
**/.*.login.*
**/.setting.*
**/size-plugin.json
**/dist
**/cesium_css_modify.sh
**/.testenv.js
**/distdll
**/.ssologin.js
**/src/template.html
